.toolbar {
    justify-content: center;
    background-color: rgb(255, 147, 206) !important;
}

.titlespan {
    font-size: 24px !important;
}

/*
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, rgba(255, 161, 161, 0.25), rgba(254, 146, 252, 0.35)), url(src/assets/background.jpg);
   
    height: 100%;
    background-repeat: repeat !important;
}*/

html {
    background-image: url(src/assets/background.jpg) !important;
    padding: 0;
    margin: 0;
}

.content {
    padding: 70px !important;
    margin: 0 !important;
    max-width: none !important;
}

body {
    color: white;
    background: transparent;
}

span {
    /*position: relative;*/
}

img {
    /* position: relative;*/
}

.tituloA {
    /*position: relative;*/
    color: white;
    font-weight: bold;
    margin: 10px;
}

.back {
    /* position: relative;*/
    background-color: rgb(255, 147, 206) !important;
    border-radius: 50px;
    padding: 5px;
}

.pad {
    padding: 10px;
}

.postresitoms {
    border-radius: 50px;
}

.postre {
    width: 100px;
    height: 100px;
}